aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
async-timeout==5.0.1
attrs==25.4.0
beautifulsoup4==4.14.3
bs4==0.0.2
certifi==2025.11.12
charset-normalizer==3.4.4
frozenlist==1.8.0
idna==3.11
jinja2==3.1.6
lxml==6.0.2
markupsafe==3.0.3
multidict==6.7.0
pip==22.0.2
propcache==0.4.1
requests==2.32.5
setuptools==59.6.0
soupsieve==2.8
typing-extensions==4.15.0
urllib3==2.6.2
yarl==1.22.0
