<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>{{ chapter.title }}</title>
	</head>
	<body>
		<header>
			<h4>Chapter {{ chapter.idx + 1 }} / {{ chapter.parent.length }}</h4>
			<h1>{{ chapter.title }}</h1>
		</header>
		<article>
		{{ chapter.get_content() | safe }}
		</article>
	</body>
</html>
